%h1 Sign Up
= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    Name:
    = f.text_field :name
  .field
    Email:
    = f.text_field :email
  .field
    Password:
    = f.password_field :password
  .field
    Password Confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit
